@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

body{
    margin: 0;
    
    text-align: center;
}

/* main */

nav li {
    display: inline;
}

nav a { 
    padding: 20px;
    margin-right: 99px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat:900';
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 13px;      
}

nav a:hover{
    font-family: 'Raleway:900';
    font-weight:bold;

    color: rgb(57, 232, 255);
    background-color: rgb(8, 6, 24);   
    position: relative;   
}

li{
    text-decoration: none;
    list-style-type: none;
}

header{
    background-color: rgb(4, 15, 27);
    padding: .1px;
}

.welcome{
    margin-top: -40px;
}
.second{
    padding: 18.5em;
    background-image: url(../myCerritos/students.jpg);
    background-size: cover;
    background-color: rgb(18, 24, 39);
    background-blend-mode: overlay;
}

h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: xx-large;
    position: relative;
    top: -45px;
    position: relative;
    align-items: center;
    text-align: center
    
}

h1 span{
    color: rgb(0, 255, 255);
    letter-spacing: 2px;
    font-family: 'Montserrat:900';
    font-weight:bold;
    text-transform: none;

}



.email{

  top: -40px;
  padding: 8px;
  width:250px;
  color: white;
  margin: 20px;
  font-size:1em;
  font-family: 'Montserrat:900';
  position: relative;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px 100px 100px 100px;
  border-width: 0;
}

.password{

  top: -40px;
  padding: 8px;
  width:250px;
  color: white;
  margin: 20px;
  font-size:1em;
  font-family: 'Montserrat:900';
  position: relative;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px 100px 100px 100px;
  border-width: 0;
}


.button{
    position: relative;
    top: -20px;
    z-index: 2;
    text-decoration: none;
    border-width: 1.5px;
    padding: 5px 45px;
    border-style: solid;
    border-radius: 100px 100px 100px 100px;
    color: aqua;         
}

.button-accent:hover,
.button-accent:focus{
    background: aqua;
    color: rgb(0, 0, 0);
    font-size: smaller;
    
}



/* *********  PANEL 1  ********* */

.container{
    margin: 0 auto;  
    margin-top: -20px;
    
}

.sideList li{
    margin: 0 auto;
    padding: 24px;
    text-align: left;
    padding-right: -200px;
    position: relative;
    top: -10px;
    
    
}

.sideList a{
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(9, 21, 43);  
}

.News{
    position: relative;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: black;
    
}




/* panel1 */

.sidePanel1{
    color: white;
    text-transform: uppercase;
    position: relative;
    background-color:rgb(4, 15, 27);
    width: 33.1%;
    height: 50%;
    position: relative;
    margin-left: 0px;
}

.sidePanel1 a:hover{
    color: rgb(0, 238, 255);
    cursor: pointer;
    background-color: rgb(10, 25, 46);
    font-family: 'Montserrat:900';
    font-weight: bold;
}


/* panel2 */

.sidePanel2{
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    background-color:rgb(4, 15, 27);
    background-size: cover;
    width: 33.1%;
    position: relative;
    margin-left: 480px;
    margin-top: -578px;
}
.sidePanel2 a:hover{
    color: rgb(0, 238, 255);
    cursor: pointer;
    background-color:  rgb(10, 25, 46);
    font-family: 'Montserrat:900';
    font-weight: bold;
}

/* panel3 */

.sidePanel3{
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: rgb(4, 15, 27);
    background-size: cover;
    width: 33.1%;
    position: relative;
    margin-left: 960px;
    margin-top: -578px;
}
.sidePanel3 a:hover{
    color: rgb(0, 238, 255);
    cursor: pointer;
    background-color:  rgb(10, 25, 46);
    font-family: 'Montserrat:900';
    font-weight: bold;
}






/* rgb(255, 196, 0); */








footer{
    background:rgb(4, 4, 20) ;
    text-decoration: none;
    padding: 2em;
    padding-top: 2.5em;
    color: white;
    margin-top: -1em;
    position: relative;
    right: 2.5px;
    top: 2.5px;
}

[class^=col-]{
    float: left;
    padding: 0 .5eml;
}


.bold{
    
    font-family: 'Montserrat:300';
}

.col-3{
 width: 50%
}

.col-1{
width: 16.6666%
}

footer::after{
    display: block;
    content: '';
    clear:both;
    text-align: left;
}






.social-icons
{
  padding-left:0;
  margin-left:70em;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
